#!/usr/bin/env php
<?php

require_once 'vendor/autoload.php';

use Solital\Core\Kernel\{Application, DebugCore, Dotenv};

define('SITE_ROOT', __DIR__);

DebugCore::enableCoreDebug();
DebugCore::setDatabaseConnection('mysql', 'localhost', 'test', 'root');

Dotenv::env(__DIR__);
Application::autoload("vendor/solital/core/src/Resource/Helpers/");

$class_commands = [
    \Solital\Core\Kernel\Console\SolitalCommands::class
];

(new \Solital\Core\Console\Command($class_commands))->read($argv[1], $argv);